<DOCTYPE! html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>
  <div class="wrapper">
    <div class="home-page-block">
   
      <div class="logo">
        <h1>Class Tech</h1>
      </div>
    </div>

    <div class="display-grade">
        <h2>Grade: </h2>
   
      </div>

      
      <br>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/sessions/logout">Logout</a>
    </div>

      </div>
  </body>
</html>