<DOCTYPE! html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>

    <div class="display-grade">
        <h3>View the tech in your class by grade</h3>

        <ol>
            <% @grades.each do |grade|%>
            <li><a href="/grades/<%= grade.id%>">Grade: <%=grade.grade%></a></li>
            <% end %>
        </ol>

    </div>
</body>
</html>