<DOCTYPE! html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>

    <div class="display-grade">
        <h3>View the tech in your class by grade</h3>
            <div class="action-buttons">
            <form action="/grades/:id" method="POST">
                <ol>
                    <% @grades.each do |grade|%>
                    <li><a href="/grades/<%= grade.id%>">Grade: <%=grade.grade%></a></li>
                    <% end %>
                </ol>
            </form>
            </div>
    </div>
</body>
</html>