<!DOCTYPE html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>

    <!-- should move this to the controller? -->
    
    <div class="display-children-grade">
    <h3>Students in Grade <%=@grade.grade%></h3><br>
    <ol>
<!-- all children are showing up instead of just those in the specified grade... -->
    <% @children.select do |child| %>
        <% if child.grade_id == @grade_id%>
        <%# <%binding.pry%>
            <li><%= child.name %></li>
            <li><%= child.user_id%></li>
            <%else%>
            <% end %> 
        <% end %>
    </ol>
    </div> <!--end display-children-grade -->

     <div class="action-buttons">
        <a href="/users/<%=@child.user_id%>">Return to your profile page</a>
        <a href='/grades'>View by Grade</a>
        
    </div>
</body>

</html>