<!DOCTYPE html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>

    <h3>Students in Grade <%=@grade.grade%></h3><br>
    <!-- should move this to the controller? - also, look at how you got actual grades to apper on index page to use for child show page (right not, the grade.id is showing up-->
    <div class="display-children-grade">
    <ol>
    <% @children.select do |child| %>
        <% if child.grade_id = @grade.id%>
        
        <li><%= child.name %></li>
        <% end %> 
    <% end %>
    </ol>
    </div> <!--end display-children-grade -->
</body>

</html>