<!DOCTYPE html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>

    <p>show by grade - coming soon</p>
    <!-- should move this to the controller? - also, look at how you got actual grades to apper on index page to use for child show page (right not, the grade.id is showing up-->
    <%# <% @children.select do |grade| %>
        <%# <% if grade.grade = @grade.id %>
        <%# <%= grade.grade %> 
        <%# <% end %> 
        <%# <% end %>  



</body>

</html>