
<DOCTYPE! html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>


    <div class="sign-in-block">
        <h2>Log in to your account: </h2>

    <section class="form">
        <form action='/sessions' method="POST">
    <div id="input">
        <label for"user_name">User Name</label>
        <input type="text" name="user_name" id="user_name">
    </div>
      
        <div id="input">
        <label for"password">Password</label>   
        <input type="password" name="password" id="password">
        </div>
        <input type="submit" value="Login" id="submit">
        </form>
    </section>
    </div>
    </div>

</body>
</html>