<!DOCTYPE html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>

    <!-- show devices and grade -->
    <%@children.each do |child|%>
    <li><%=child.name%></li>
    <li><%=child.grade_id%></li>
    <%end%>
    
</body>
</html>