<DOCTYPE! html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>

    <h3>Add your child:</h3>
 
        <form action="/children" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="child[name]" id="name">
            <br>
            <label for="grade">Grade:</label>
            <% @grades.each do |grade| %>
                <input type="checkbox" name="child[grade_ids][]" id="grade_<%grade.id%>" value="grade.grade">
                <% end %>
            <br>
            <label for="device">Device(s):</label>
            <input type="text" name="child[device]" id="device">
            <br>
            <input type="submit" value="Add Child">
        </form>
</body>
</html>        