<DOCTYPE! html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>

    <h3>Add your child:</h3>
 
        <form action="/children" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="child[:name]" id="name">
            <br>
            <br>
            <label for="grade">Grade (choose one):</label>
            <br>
            <% @grades.each do |grade| %><br>
                <input type="checkbox" name="child[grade_ids][]" id="grade_<%grade.id%>" value="grade.grade">
                <%=grade.grade%>
                <% end %>
            <br>
            <br>
            <label for="device">Device(s):</label>
                <br>
            <% @devices.each do |device| %><br>
                <input type="checkbox" name="child[device_ids][]" id="device_<%device.id%>" value="device.device_type">
                <%= device.device_type%>
                <% end %>
            <br>
            <input type="submit" value="Add Child">
        </form>
</body>
</html>        