<DOCTYPE! html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>
<body>

    <h3><%=@child.name%></h3>
    <h3><%=@child.user_id%></h3>



</body>
<html>

