<DOCTYPE! html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>
<body>

    <h4><%=@child.name%></h4>

    <!--show child's grade by number, not grade.id -->
    <h4>Grade: <%=@child.grade_id%></h4>

    <h4>Has the following devices:</h4>
    <!--show child's devices -->
    <%@child.devices.each do |device|%><br>
        <%=device.device_type %>
        <%end%><br><br>

    <a href="/user/profile">Return to your profile page</a>
    <a href="/grades">View by Grade</a>

</body>
<html>

