<!DOCTYPE html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>

    <ol>
        <% @devices.each do |device|%>
            <li><a class="child-list" href="/devices/<%= device.id%>"><%=device.device_type%></a></li>
        <% end %>
    </ol>

</body>
</html>