/* font-family: 'Allerta Stencil', sans-serif; */

  /* --- General Styles --- */

* {
  list-style: none;
}

html, body {
  font-family: 'Allerta Stencil', sans-serif;
}

  body {
    background-color: #effeff;
    line-height: 18px;
    font-size: 16px;
  }

  h1 {
    font-size: 5em;
    line-height: 1em;
    color: rgb(224, 158, 255);
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 1em;

  }

  h3 {
    font-size: 2em;
    line-height: 1em;
  }

h4 {
    font-size: 1em;
    line-height: 1em;
  }

  p {
    margin-bottom: 1em;
  }

  a {
  font-size: .7em;
  text-decoration: none;
  border: 1px black solid;
  padding: 1em;
  margin: 1em;
}

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
    font-size: .75em;
  }

  #icon-credit {
    float: right;
    padding-right: 5px;
  }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

/* HOME PAGE styles */

.home-page-block {
  display: flex;
  justify-content: center;
  align-items: column;
  flex-flow: row wrap; 
  height: 100%;
  padding: 50px;
  color: linen;
  background: rgba(13,12,80,0.86);
  border: 2px rgb(224, 158, 255) solid;
}

.sign-up-links {
  display: flex;
  justify-content: center;
  align-items: column;
  flex-flow: row wrap;
  margin: 12px;
}

.message {
  margin: 12em;
  width: 100%;
}

/* SIGNUP PAGE styles */

.sign-in-block {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: column wrap;
  padding: 50px;
}

form {
  display: block;
  color: rgba(13,12,80,0.86);
}

input {
  display: inline;
  margin: 12px;
  font-size: 1em;
  
}

#submit {
  background-color: rgba(158,255,197,1);
  margin: 15px;
}

/* PROFILE PAGE ================== */

.display-profile {
 color: rgba(13,12,80,0.86);
  margin: 5px;
  padding: 15px;
}

.action-buttons {
  display: inline-block
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }
}