/* font-family: 'Allerta Stencil', sans-serif; */
/* font-family: 'Dosis', sans-serif; */

  /* --- General Styles --- */

* {
  list-style: none;
  text-decoration: none;
}

html, body {
  font-family: 'Dosis', sans-serif;
  color: #3d405b;
}

body {
    background-color:#3d405b;
    line-height: 18px;
    font-size: 16px;
  }

h1 {
    font-size: 5em;
    line-height: 1em;
    color: #087e8b;
    font-family: 'Allerta Stencil', sans-serif;
    /* color: rgb(224, 158, 255); */
    margin: 0;
    padding: 0;
  }

h2 {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 1em;
    font-family: 'Dosis', sans-serif;

  }

h3 {
    font-size: 1.75em;
    line-height: 1em;
    font-family: 'Dosis', sans-serif;
  
  }

h4 {
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Dosis', sans-serif;
    display: inline;
  }

p {
    margin-bottom: 1em;
  }

a {
  font-size: 1.5em;
  text-decoration: none;
  background-color: #3d405b;
  border: 2px #ff5a5f solid;
  padding: .5em;
  margin: 1em;
  color: #fff;
}

li {
  padding: 10px;
}

.nav a {
  font-size: 1em;
  background: none;
  border: none;
  color: #ff5a5f;
  padding: 2px;
  margin-bottom: 2em;
  /* background: red; */
}

footer.branding {
    border-top: 2px solid #023047;
    margin-top: 20px;
    padding-top: 20px;
    font-size: .75em;
  }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: row;
  flex-flow: row wrap; 
  height: 100%;
  padding: 15px;
  background:#fff;
}

/* HOME PAGE styles */

.home-page-block {
  display: flex;
  justify-content: center;
  align-items: row;
  flex-flow: row wrap; 
  height: 100%;
  padding: 50px;
  padding-bottom: 25px;
  background: #fff;
}

.sign-up-links, .action-buttons {
  display: flex;
  justify-content: center;
  align-items: row;
  flex-flow: row wrap;
  margin: 12px;
}

.definition {
  display: flex;
  justify-content: center;
  align-items: row;
  flex-flow: row wrap;
  padding-left: 2em;
  padding-right: 2em;
  margin: 1em;
  /* width: 75%; */
}

.message {
  display: flex;
  justify-content: center;
  align-items: column;
  flex-flow: row wrap;
  margin: 1em;
  color: #ee6c4d;
  width: 80%;
}

/* SIGNUP PAGE styles */

.sign-in-block {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: column wrap;
  padding: 50px;
}

form {
  display: block;
}

label {
  color: #ee6c4d;
  font-size: 1.5em;
}

input {
  display: inline;
  margin: 6px;
  font-size: 1em;
  background: lightgrey; 
}

#submit {
  background-color: #3d405b;
  font-family: 'Dosis', sans-serif; 
  color: #fff;
  margin: 25px;
  border: 2px #ff5a5f solid;
}

/* PROFILE PAGE ================== */


.profile-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: column wrap;
}
.profile-info {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: column wrap;
}

.child-list {
  display: flex;
  background: #ff5a5f;
  color: black;
  border: none;
  margin: .2em;
  border-bottom: 2px black solid;
}

/* CHILD SHOW PAGE ================== */


h3, .display-child {
  margin: 5px;
  /* display: flex;
  justify-content: center;
  align-items: row;
  flex-flow: row wrap;  */
}


.grade-list {
  display: block;
  font: .75em;
  background: none;
  color: grey;
  border: none;
}

input.overridecss {
  background-color: #3d405b;
  color:ButtonText;
}

@media screen and (max-width: 600px) {
  /* .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  } */
}