<!DOCTYPE html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>

    <div class="message-failure">
        <h2>Not so fast!</h2>
    </div>

    <div class="sign-in-block">
       
        <h3>You must provide a username and a password to create an account.</h3>
            <br>
            <a href="/users/signup">Sign Up</a>

    </div>
</body>

</html>
