<DOCTYPE! html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">

</head>

<body>
    <div class="home-page-block">

      <div class="logo">
        <h2>Class Tech</h2>
      </div>
    </div>

  <div>
  <h3>You must <a href='/sessions/login'>Login</a> to see your child's profile.</h3>
  </div>



  <div>
  <a href='/sessions/logout'>Log Out</a> 
  </div>

  <div>
  <a href='/'>Home</a> 
  </div>


  </body>
</html>