<!DOCTYPE html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>
<section class="profile-wrapper">
  <div class="profile-info">
    <h3>Hi, <%=@user.name%>.<br><br> You have <%=@user.children.size%> child/ren registered in ClassTech.</h3>
        <br>
      
        <% @children.each do |child|%>
            <a href ="/children/<%=child.id%>" class="child-list"><%=child.name%></a>
        <%end%>
        </div> <!-- end profile-info -->

    <div class="action-buttons">
      <a href="/children/new">Add a child</a>
      <!-- <a href="/children">View a child</a> -->
    </div>
  </section> <!-- end profile-wrapper -->
  
  </body>
</html>