<DOCTYPE! html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>

    <h3>Hello, <%=@user.name%>.</h3>
    
    <h3>You have <%=@user.children.size%> child/ren registered in our system.</h3>
    

    <div class="action-buttons">
      
      <a href="/children/#{@user.id}">Create your child's profile</a>
    <br>
      <a href="/children/show">View your child's profile</a>

    </div>

      <br>
  
  </body>
</html>