<DOCTYPE! html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>

    <div class="home-page-block">

        <div class="logo">
            <h1>Not so fast!</h1>
        </div>

    <div class="sign-in-block">
       
<h3>You must provide a password to create an account.</h3>
<br>
<a href="/registrations/signup">Sign Up</a>

</div>
</body>
</html>
