
<DOCTYPE! html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>

    <div class="home-page-block">

        <div class="logo">
            <h1>Class Tech</h1>
        </div>
  
    <div class="sign-in-block">
        <h2>Create your account: </h2>

    <section class="form">
        <form action='/registrations' method="POST">

    <div id="input">
        <label for"name">User Name</label>
        <input type="text" name="name" id="name">
    </div>
        <div id="input">
        <label for"email">Email</label>
        <input type="email" name="email" id="email">
        </div>
        <div id="input">
        <label for"password">Password</label>   
        <input type="password" name="password_digest" id="password">
        </div>
        <input type="submit" value="Sign me up" id="submit">
        </form>
    </section>
    </div>
    </div>

</body>
</html>
