<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body>
  <div class="wrapper">
    <div>
  <a href='/logout'>Log Out</a> 
  <a href='/'>Home</a> 
  </div>

  <h3>You must <a href='/login'></a> to see your child's profile.</h3>
  <div class="wrapper">
  </body>
</html>