
<DOCTYPE! html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">

</head>

<body>
<div>
  <h1>Class Tech</h1>
  </div>

  <div>
  <h4>"See, darling daughter, you're not the only one in your grade who doesn't have a phone..."</h4>
  </div>

  <div>
  <a href="/registrations/signup">Sign Up</a>
  <a href="/sessions/login">Log In</a>
  </div>

</body>

</html>