<!DOCTYPE html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>
  <div class="definition">
    <h3>Show your kids that even though their friends may talk (a lot) about their screen time, their  tech "reality" may be quite different according to their parents. </h3>
  </div> <!-- end definition -->

  <div class="sign-up-links">
    <a href="/users">Sign Up</a>
    <a href="/users/login">Log In</a>
  </div> <!-- end sign-up-links  -->

</body>

</html>