
<DOCTYPE! html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">

</head>

<body>
<div class="home-page-block">

<div class="logo">
  <h1>Class Tech</h1>

  <div class="logo">
  </div>
  </div>

 

  <div class="sign-up-links">
  <a href="/user/signup">Sign Up</a>
  <a href="/sessions/login">Log In</a>
  </div>

  <div class="message">
  <p>"You're not the only one in your grade who doesn't have a phone..."</p>
  

  </div>

  </div> 
</body>

</html>