
<DOCTYPE! html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">

</head>

<body>
  <h1>Check your Class Tech</h1>
  <h4>Please sign up or log in to access your Class Tech account to see what kinds of tech the kids in your class use!</h4>
  <a href="/registrations/signup">Sign Up</a>
  <a href="/sessions/login">Log In</a>

</body>

</html>